.flex-container {

    display: flex;
      
        align-content: stretch;
        background-color: Purple;
        /* width: 800px; */
        height: 150px;
    }
    
    .flex-container > div {
    
    background-color: Orange;
    
    margin: 30px;
    
    padding: 20px;
    
    font-size: 20px;
    
    }